<ion-header>
  <ion-toolbar>
    <ion-title>Login to Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #logininformation="ngForm" (ngSubmit)="onSubmit(logininformation.value)">
    <ion-list class="ion-padding">
      <!-- email -->
      <ion-item style="margin-top: 50px;">
        <ion-label position="stacked">EMAIL</ion-label>
        <ion-input type="email" ngModel name="email" #email="ngModel" required></ion-input>
      </ion-item>
      <!-- password -->
      <ion-item>
        <ion-label position="stacked">PASSWORD</ion-label>
        <ion-input type="password" ngModel name="password" #password="ngModel" required></ion-input>
      </ion-item>
    </ion-list>

    <!-- signup option -->
    <ion-list lines="none">
      <ion-item detail="false" class="ion-padding">
        <ion-buttons class="buttonsContainer">
          <ion-button class="emailButtons" type="submit" color="primary" fill="solid"
            [disabled]="!logininformation.valid">
            Login
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </form>
</ion-content>